*.py[cod]
*.exe
*.war
*.ipynb
*.ipynb
__pycache__
*.egg-info
*dist*
*build*
*deps*
venv*/
packaged/
*.pytest_cache
*.hypothesis
*.coverage
htmlcov/
*/xunit2-*.xml
container
*.idea
container
nohup*.out
